.category-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    .page-title {
      padding-left: 1rem;
      margin-bottom: 1rem;
      @media screen and (max-width: 600px) {  
        margin-bottom: 0;
      }
    }
    .ant-table-cell {
      a {
        color: black;
      }
      .display-name {
        display: flex;
        align-items: center;
        .image {
          height: 30px;
          margin-right: 5px;
        }
        .text {
          margin: 0;
        }
      }
    }
}

.ant-table {
  display: block;

  @media screen and (max-width: 600px) {  
    thead {
      display: none;
    }

    thead>tr,
    tbody>tr {

      th,
      td {
        &:first-of-type {
          padding-top: 1rem;
        }

        &:last-of-type {
          padding-bottom: 1rem;
        }
      }

      >th,
      >td {
        display: block;
        width: auto !important;
        border: none;
        font-size: 1rem;

        &:last-child {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}