@import '../../index.scss';

.category-books {    
    margin-top: 1rem;
    .category-detail-container {
        display: flex;
        flex-direction: column;
    }
    .title {
        text-align: center;
        margin-bottom: 10px;
    }
    .all-detail {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        width: 768px;
        justify-self: center;
        align-self: center;
        border-bottom: 1px solid lightgray;
        padding: 10px 10px 2rem 10px;
        transition: all 0.2s ease-in-out;
        color:black;

        &:hover {
            // box-shadow: 2px 2px 10px 4px grey;
            transform: scale(1.02);
            cursor: pointer;
        }
        .index-number {
            font-size: 24px;
            margin-right: 10px;
        }
        .book-image {
            height: 220px;
            margin-right: 1rem;
        }
        .details {
            display: flex;
            flex-direction: column;
            width: 100%;
            .name-author {
                display: flex;
                flex-direction: column;
                h3 {
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                p {
                    color: #6CA184;
                }
            }
            .desc {
                margin: 0;
            }
            .actions-area {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 5rem;
                .add-to-favourite {
                    font-size: 30px;
                    transition: color 0.1s ease-out;
                    &:hover {
                        color: $shopping-cart-color;
                    }
                }
                .remove-favourite {
                    font-size: 30px;
                    color: $shopping-cart-color;
                }
                .add-to-card {
                    color: $shopping-cart-color;
                    border: 2px solid $shopping-image-outline-color;
                    font-weight: 600;
                    height: 40px;
                    &:hover{
                        background-color: $shopping-cart-color;
                        color:white
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 425px) {
    .category-books {
        .all-detail {
            width: 75%;
            flex-direction: column;
            align-items: center;
    
            img {
                width:200px;
                margin-right: 0;
                margin-bottom: 5px;
            }
            .details {
                .actions-area {
                    margin-top: 2rem;
                }
            }
        }
    }
    

}
  