.favourites-component {
    width: 1080px;
    margin: 1rem auto;
    height: 100%;  
    .page-title {
        margin: 10px 0;
    }
    .favourites-area {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        grid-gap: 2rem;              
        .favourite-book {
            display: flex;
            flex-direction: column;
            position: relative;
            .book-image {
                width: 160px;
                margin-bottom: 8px;
            }
            .title {
                align-self: flex-start;
                font-weight: 600;
            }
            .author {
                align-self: flex-end;
            }
            .delete-icon {
                position: absolute;
                top: 5px;
                right: 0;
                font-size: 30px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                color: #faf9f9;
                background-color: #f28232;
                transition: all 0.2s ease-out;
                &:hover {
                    cursor: pointer;
                    color: #f28232;
                    background-color: #faf9f9;
                }
            }
        }
    }
    .empty-favourites {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        height: 250px;
        background-color: whitesmoke;
        > * {
            margin-bottom: 10px;
        }
        .heart-icon {
            font-size: 3rem;
        }
        .btn-view-books {
            background-color: #f28232;
            color:white;
            outline: none;
            border:0;
        }
    }
}

@media screen and (max-width: 425px) {
    .favourites-component  { 
      width: auto;
      margin: auto 1rem;
    }    
  }
  