@import '../../index.scss';

.header-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: $header-bg-color;
  padding: 1rem 8px;
  position: sticky;
  top:0;
  z-index: 1;
  flex-shrink: 1;
  border-bottom: solid 1px lightgray;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  .project-name {
    color: $header-title-color;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Lora', serif;
    &:hover {
      cursor: pointer;
    }
  }  
  .search {
    width: 50%;
    border-radius: 50px;
  }
  .header-user-action {
    display: flex;
    flex-direction: row;
    .user-area {
      position: relative;
      .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
      }
      .login-panel-container {
        z-index: 9999;
        position: absolute;
        width:200px;    
        font-weight: 400!important;
        left: -100px;
        background-color: #fff;
        box-shadow: 0 4px 3px 1px rgba(0,0,0,.07);
        border: solid 1px #d6d6d6;
        padding: 1rem;
        margin-top: 10px;   
        border-radius: 2px;     
        &::after, &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: 100%;
          width: 0;
          height: 0;
        }
        &::after{
          left: 115px;
          border: 10px solid transparent;
          border-bottom-color: #fff;
        }
        &::before {
          left: 114px;
          border: 11px solid transparent;
          border-bottom-color: #ddd;
        }
        .account-button {
          width: 100%;
          height: 34px;
          line-height: 34px;
          text-align: center;
          cursor: pointer;
          font-weight: 600;
        }
        .login {
          color: #fff;
          background-color: #f27a1a;
          font-family: 'Open Sans', sans-serif;

        }
        .register {
          margin-top: 10px;
          color: #666;
          border: solid 1px #dedede;
          font-family: 'Open Sans', sans-serif;
        }
        .user-mail {
          color: #f27a1a;
          font-weight: bold;
        }
        .basket-total-price{
          color: #f27a1a;
          font-weight: bold;
        }
        .logout{
          border:none;
          color: #fff;
          background-color: #f27a1a;
          font-family: 'Open Sans', sans-serif;
          outline: none;
        } 
      }
    }
    
    .shopping-area {
      position: relative;
      .shopping-cart{
        color:black;
        &:hover {
          cursor: pointer;
          border-bottom :3px solid $shopping-cart-color;
        }
      }
      .item-count {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -12px;
        top: -12px;
        border: 1px solid $shopping-cart-color;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        text-align: center;
        background-color: $shopping-cart-color;
        color:white;
      }
    }
    .favourite-icon {
      transition: all 0.2s ease-out;
      color: black;
      &:hover {
        cursor: pointer;
        color:$shopping-cart-color;
      }
    }
    .icon {
      margin-left: 1rem;
    }
    .anticon {
      color: black;
      font-size: 25px;
    }
  }
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 425px) {
  .header-component { 
    .header-user-action {
      margin-top: 10px;
    }
    .search {
      margin-top: 10px;
    }
  }    
}
