@import '../index.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    margin: 0;
}

.app {
    height:100vh;
    h1 {
        text-align: center;
    }
    .category-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}