@import '../../index.scss';

.shopping-basket-component {
  overflow-y: hidden;

  padding: 2rem;
  // width: 1080px;
  .page-title {
    margin: 10px 0;
  } 
  .shopping-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 1rem;
    .items-div {
        // margin-top: 6rem;
        .added-items {
          display: flex;
          flex-direction: column;
          width: 380px;
          margin-bottom: 1rem;
          padding: 0 1rem;
          .heading {
            display: flex;
            flex-direction: column;
            .title {
              margin-bottom: 3px;
              font-weight: bold;
            }
            .author {
              font-style: italic;
              font-size:12px;
            }
          }
          .content {
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            padding-bottom: 2rem;
            .added-items-left-side {
              display: flex;
              flex-direction: column;
              margin-right: 1rem;
              max-width: 130px;
              max-height: 150px;
              .book-image {
                  height: 135px;
                  outline-offset: 2px;
                  &:hover {
                    outline: $shopping-image-outline-color solid 2px;
                  }
              }
            }
            .added-items-center {
              p {
                font-family: 'Lato', sans-serif;
              }
              font-size:12px;
              ul {
                padding: 0;
                list-style-type: none;
                text-decoration: underline;
                li {
                  a {
                    color:black;
                  }
                }
              }
            }
            .added-items-right-side {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: space-around;
              .count-list {
                min-width: 80px !important;
              }
              .count-price {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-top: 10px;
                .price, .item-count {
                  span {
                    font-weight: bold;
                  }
                }
                .item-count {
                  margin-bottom: 3px;
                }
              }
              .item-count-change {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                button {
                  font-size: 15px;
                  margin-left: 3px;
                }
              }
              .delete-button {
                font-size: 10px;
              }
            }
          }          
        }
    }
  }
  .empty-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    height: 250px;
    background-color: whitesmoke;    
    > * {
        margin-bottom: 10px;
    }
    .shopping-icon {
        font-size: 3rem;
    }
    .btn-view-books {
        background-color: #f28232;
        color:white;
        outline: none;
        border:0;
    }
  }
}

.delete-modal {
  .modal-content {
    span {
      font-weight: bold;
    }
  }
}


@media screen and (max-width: 425px) {
  .shopping-basket-component  { 
    width: auto;
    .shopping-basket {
      flex-direction: column;
      .items-div {
        .added-items {
          width: auto;
          padding: 0;
        }
      }
    }
  }    
}
