@import '../../index.scss';

.footer-component {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px lightgray;
    a {
        text-align: center;
        .github-icon {
            font-size: 24px;
            color:black;
        }
        p {
            color:black;
            margin-bottom: 0;
        }
    }
    
}