@import '../../index.scss';

.login-modal {
    .header {
      text-align: center;
    }
    .content {
      display: flex !important;
      flex-direction: column;
      align-items: center;
    }
    .login-input {
      margin-bottom: 10px;
      > div {
        margin-bottom: 5px;
      }
    }
    .login-button {
      width: 180px;
      border:none;
      padding: 10px 0;
      color:white;
      font-family: 'Open Sans', sans-serif;
      background-color: $login-button-bg-color;
      font-weight: bold;
      border-radius: 3px;
      &:hover {
        cursor: pointer;
      }
    }
    .actions {
      text-align: center !important;
      font-size: 14px;
      .sign-up-text, .login-text {
        color: $login-button-bg-color;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }