@import '../../index.scss';

.login-modal {
  width: 400px !important;
  .login-form {
    max-width: 250px;
  }
  .ant-modal-content  {
    .ant-modal-header {
      text-align: center;
    }
    .ant-modal-body {
      display: flex !important;
      flex-direction: column;
      align-items: center;
    }
    .login-input {
      margin-bottom: 10px;
      .invalid {
        margin-top: 3px;
        border: 1px solid #ffa499;
        color: #ea2a15;
        background: #ffeeec;
        text-align: center;
        padding: 2px 0;
      }
      > div {
        margin-bottom: 5px;
      }
      .ant-input {
        &:focus, &:hover {
          border: 1px solid #f27a1a;
          border-right-width: 1px !important;
          outline: none;
          box-shadow: none;
        }
      }
    }
    .login-button {
      width: 120px;
      border:none;
      padding: 10px 0;
      color:white;
      font-family: 'Open Sans', sans-serif;
      background-color: $login-button-bg-color;
      font-weight: bold;
      border-radius: 3px;
      display: block;
      margin: 0 auto;
      &:hover {
        cursor: pointer;
      }
    }
    .ant-modal-footer {
      text-align: center !important;
      font-size: 14px;
      .sign-up-text, .login-text {
        color: $login-button-bg-color;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
    
  }