$header-bg-color: white;
$header-title-color: black;
$checkout-bg-color: #f28232;
$shopping-cart-color: #f28232;
$shopping-image-outline-color: #f28232;

html, body {
    padding: 0;
    margin: 0;
}

