$header-bg-color: white;
$header-title-color: #f28232;
$checkout-bg-color: #f28232;
$shopping-cart-color: #f28232;
$shopping-image-outline-color: #f28232;
$login-button-bg-color: #f28232;
$pagination-color: #f28232;

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #F2F5F7 !important;
    font-family: 'Nunito', sans-serif !important;
}

.notification-container {
    .title {
        color: white;
    }
}
