@import '../../index.scss';

.total-basket {
    width: 300px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height:280px;
    margin-top: 5rem;
    font-family: 'Open Sans', sans-serif;
  .title {
    align-self: center;
  }
  .basket-summary {
    display: flex;
    flex-direction: column;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        font-size: 12px;
      }
    }
  }
  .order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    border-top:1px solid lightgray;
    padding-top: 1rem;
  }

  .checkout {
    height: 50px;
    color: white;
    // background-color: #254D3E;
    background-color: $checkout-bg-color;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    opacity: 0.9;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 414px) {
  .total-basket {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
  }
}
